<!DOCTYPE html>
<html>
<head>
    <title>Fleming - Use Case for Working Student</title>
</head>
<body>
    <h1>Hello Everybody, this is the website for Fleming - Use Case for Working Student</h1>

    <button onclick="window.location.href = 'http://localhost:5000/login';">Login</button>
    <button onclick="window.location.href = 'http://localhost:5000/register';">Register</button>
    <button onclick="window.location.href = 'http://localhost:5000/listoffers';">View Offers</button>
    <button onclick="window.location.href = 'http://localhost:5000/deletebid';">Delete Bid</button>

    <p>If you wish to create an offer, login/register with your account.<br>
        Only then will you be able to create an offer, however to create a bid you do not have to have an account. <br>
        If you want to create a bid, please go to view offers and then create a bid of your choice<br>
        you can delete the bid without logging in<br> 
        if the user wants to see the offers he has posted and the respective bids for those, please login. you have an option to view the offers.<br>
        in the veiw offers ection you can as well finalize the bid and delete the offer<br> 
        once you delete the offer the respective bids also get deleted

    </p>
</body>
</html>
